@use "globals" as *;
/* header */

.header {
  background-color: $color-2;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header-container {
  align-items: center;
  height: 4.5rem;
}

.logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: $dark-color;
  text-decoration: none;
  line-height: 0.9;

  .psychologist-name {
    font-family: $font-secondary;
    color: $primary-color;
    font-style: italic;
    font-weight: 400;
    text-align: right;
    margin-right: -1.2rem;
    font-size: 2.6rem;
  }
}

.nav-list {
  list-style: none;
  gap: 4rem;
}

.nav-list a {
  text-decoration: none;
  color: $dark-color;
  font-size: 1.6rem;
  transition: all ease-out 0.3s;
  text-transform: uppercase;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.header-right {
  align-items: center;
  gap: 3rem;

  @include isMobile {
    display: none;
  }

  .social {
    gap: 2rem;
    align-items: center;
  }
  img {
    height: 2.4rem;
    width: 2.4rem;
    scale: 1;
    transition: scale 0.3s;
    &:hover {
      scale: 1.1;
    }
  }

  a {
    transition: all ease-out 0.3s;
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

$header-burger-radius: 6rem;
.header-burger {
  $height: 0.3rem;
  $bg: $color-1;
  padding: 0;
  width: 4rem;
  height: 2.7rem;
  border: 0;
  position: relative;
  z-index: 1000;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  span,
  &::after,
  &::before {
    display: block;
    width: 100%;
    height: $height;
    background: $bg;
    transition: 0.3s transform;
  }

  &::after,
  &::before {
    content: "";
  }
}

@include isMobile {
  .header-nav-menu-wrap {
    display: none;
    position: absolute;
    top: 0;
  }
  .header-nav-menu {
    position: relative;
    z-index: 21;
    background-color: $color-2;
    min-height: 100dvh;
    padding-top: 10rem;
    transition: 0.7s ease;
    transform: translateX(200.1%);
    padding-left: 8rem;
    font-size: $font-m;
    pointer-events: none;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $color-2;
      position: absolute;
      top: 0;
      right: 100%;
    }
  }

  .nav-list {
    flex-direction: column;
    background-color: $color-2;
    gap: 2rem;
  }
}

@include isDesktop {
  .header-burger {
    display: none;
  }
}

body {
  // IS_SCROLL
  &.is-scroll {
    header {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
      background: $bg-color;
    }
  }
  &.is-scroll,
  &.header-menu-active {
    header {
      color: $text-color;
    }
    .header-burger {
      &::before,
      span,
      &::after {
        background: $color-1;
      }
    }
  }
  // IS_ACTIVE
  &.header-menu-active {
    overflow: hidden;
    color: $color-1;
    .header-burger {
      &::before {
        transform: translateY(1rem) rotate(45deg);
      }
      span {
        transform: scaleX(0);
      }
      &::after {
        transform: translateY(-1.45rem) rotate(-45deg);
      }
    }

    .header-nav-menu {
      transform: translateX(0);
      pointer-events: all;
      width: 100%;
    }

    .header-nav-menu-wrap {
      // position: fixed;
      // top: 0;
      // right: 0;
      display: block;
      width: 100%;
      overflow: hidden;
      z-index: 100;
    }
  }
}
