$color-1: #1d1e22;
$color-2: #fafafa;

$text-color: $color-1;
$bg-color: $color-2;

$primary-color: #c28543;
$dark-color: #333;
$dark-overlay: rgba(0, 0, 0, 0.4);
$border-radius: 3rem;

$width-mob: 980px;
$brand-color: #f17938;

$font-xs: 1.4rem;
$font-s: 1.8rem;
$font-m: 2.2rem;
$font-l: 3.7rem;
$font-xl: 7.6rem;

$font-header: serif;
$font-main: "PT Serif", "Roboto", Arial, sans-serif;
$anim-func: cubic-bezier(0, 0.55, 0.45, 1);
