@use "globals" as *;
@use "base";
@use "header";

body {
  background: $color-2;
}
/* hero */

.hero-section {
  // height: 100vh;
  overflow: hidden;
  padding: 8.5rem 0 8rem;
  position: relative;

  .video-wrapper {
    width: 100%;
    height: 77rem;
    position: absolute;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(55%);
      border-radius: $border-radius;
    }

    @include isMobile {
      height: 53.4rem;
    }
  }

  .hero-content {
    // position: absolute;
    // z-index: 2;
    // left: 8.5rem;
    // bottom: 0;
    display: flex;
    flex-direction: column;
    color: $color-2;
    padding: 25.3rem 0 8rem;
    gap: 2rem;

    @include isMobile {
      padding: 15.3rem 0 6rem;
    }

    .hero-features {
      li {
        margin-left: 2.2rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        font-weight: 300;
        &::marker {
          content: "✔";
          color: $primary-color;
        }
        @include isMobile {
           font-size: $font-xs-mob;
        }
      }
    }

    h1 {
      font-size: $font-xl;
      line-height: 1.1;
      max-width: 95rem;
      margin-bottom: 2rem;

      @include isMobile {
        font-size: 3rem;
      }
    }

    .btn {
      margin-top: 2rem;
      width: 55rem;
      text-align: center;
    }
  }

  @include isMobile {
    height: 60vh;

    .btn.btn-full {
      width: 100%;
    }
  }
}

/* services */
.services-container {
  align-items: center;
  gap: 3rem;
}

.services-section {
  background: $bg-color;
  text-align: center;
      @include isMobile {
       text-align: start;
       .services-container {
        align-items: flex-start;
        p {
          text-align: start;
        }
       }
      }

  .services-list {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    flex-wrap: wrap;
    margin: 1.8rem 0 3rem;
    @include isMobile {
      flex-direction: column;
      gap: 4rem;
        .service-item {
          align-items: flex-start;
          text-align: start;
        }
    }
  }
  .service-item {
    flex: 1 1 calc(33% - 6rem);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .icon {
      width: 6rem;
      height: 6rem;
      margin: 0 auto 2.2rem;
      @include isMobile {
          margin: 0 0 2.2rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      font-size: $font-xs;
      line-height: 1.6;
      max-width: 45rem;
      text-align: center;
      @include  isMobile {
        text-align: start;
        font-size: $font-xs-mob;
      }
    }

    h4 {
      margin-bottom: 1rem;
    }
  }
  .services-text {
    max-width: 90rem;
    color: $text-color;
    text-align: center;
    line-height: 1.6;
  }
  .text-center {
    text-align: center;
  }
}

/* for who */
.for-who {
  gap: 3rem;
  padding-top: 8rem;
  @include isMobile {
    padding-top: 6rem;
  }
}
.for-who-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.for-who-list .item {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  gap: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
}

.for-who-list {
  margin-right: 0.75rem;
  flex-shrink: 0;

  img {
    height: 4.4rem;
    width: 4.4rem;
  }
}

.for-who-list .text {
  font-size: $font-xs;
  @include isMobile {
     font-size: $font-xs-mob;
  }
}

/* about */
.about-section {
  padding-top: 8rem;
  img {
    height: 67.5rem;
    width: 65rem;
    background-color: $dark-overlay;
    border-radius: $border-radius;
    object-fit: cover;
    object-position: 50% 30%;
    @include isMobile {
      height: 55.5rem;
    }
  }

  .about-info {
    gap: 3rem;
    max-width: 70rem;
  }

  .about-text {
    gap: 2rem;
  }

  ul {
    max-width: 54rem;
  }

  li {
    margin-left: 2.2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style-type: circle;
    &::marker {
      font-size: 2rem;
      color: $primary-color;
    }
  }

  @include isMobile {
    flex-direction: column;
    gap: 4rem;
    padding-top: 6rem;
  }
}

/* review */
.review-section {
  color: #fff;
  margin: 0 auto 0 0;
  font-style: italic;
  font-size: $font-s;
  height: 33rem;
  position: relative;

  @include isMobile {
    height: 85rem;
  }

  .review-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
      url("../img/review-bg.webp") center/cover no-repeat fixed;
    position: absolute;
    max-width: 180rem;
    z-index: -1;
    width: 100%;
    height: 33rem;
    @include isMobile {
      height: 85rem;
    }
  }

  .review-cards {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 6rem;
    z-index: 1;
    @include isMobile {
      flex-direction: column;
    }
  }

  .card {
    gap: 3rem;

    .author {
      font-size: $font-xs;
      @include isMobile {
         font-size: $font-xs-mob;
      }
      .author-name {
        color: $primary-color;
      }
    }
  }
}

/* prices */
.price-section {
  gap: 3rem;
  h2,
  h3 {
    text-align: center;
  }
  background-color: $color-2;
  .price-cards {
    gap: 6rem;
    flex-wrap: wrap;
    @include isMobile {
      gap: 4rem;
    }
    .card {
      flex: 1 1 calc(33.333% - 6rem);
      padding: 7rem 5rem;
      border: 0.1rem solid $dark-color;
      border-radius: 1rem;
      text-align: center;
      h4 {
        margin-bottom: 3rem;
        color: $color-1;
        font-size: $font-m;
        font-weight: 500;
      }
      .price-text {
        font-size: $font-xs;
        @include isMobile {
           font-size: $font-xs-mob;
        }
      }
      .price {
        font-size: $font-l;
        color: $primary-color;
        margin: 3rem 0;
        display: flex;
        justify-content: flex-start;
        font-weight: 500;
        line-height: 1;
      }
      .features {
        list-style: none;
        margin: 3rem 0 3rem 1.5rem;
        text-align: left;
        li {
          margin-bottom: 1rem;
          font-size: $font-s;
          padding-left: 1rem;
          &::marker {
            content: "✔";
            color: $primary-color;
          }
        }
      }
      .btn-outlined {
        display: flex;
        justify-content: flex-start;
      }
    }

    .discounted {
      position: relative;

      .prices {
        display: flex;
        gap: 1rem;
      }

      .price2 {
        color: $color-1;
        text-decoration: line-through;
        font-weight: 300;
      }

      &::after {
        position: absolute;
        content: "-10%";
        top: 2.5rem;
        right: 0;
        color: $color-2;
        background-color: $color-1;
        width: 10rem;
        padding: 0.25rem;
      }
    }
  }
  @include isMobile() {
    .pricing-grid {
      flex-direction: column;
    }
  }
}

/* faq */
.faq-section {
  gap: 3rem;

  @include isMobile {
    padding-top: 0;
  }
  .faq-container {
    gap: 10rem;

    @include isMobile {
      gap: 4rem;
      flex-direction: column-reverse;
    }
    .questions {
      width: 100%;
      max-width: 90rem;
      gap: 3rem;
    }
    img {
      height: 54.6rem;
      width: 60rem;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 3rem;
      object-fit: cover;
      @include isMobile {
        height: 40rem;
      }
    }
  }

  summary {
    border: 0.1rem solid $color-1;
    border-radius: 1rem;
    padding: 1.5rem 4.2rem 1.5rem 2.4rem;
    font-size: $font-xs;
    line-height: 1.1;
    @include isMobile {
        font-size: $font-xs-mob;
    }
  }

  details {
    p {
      padding: 2rem 1rem;
    }
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details summary::marker {
    content: none;
  }

  details summary {
    position: relative;
    padding-left: 1.5em;
    appearance: none;
    -webkit-appearance: none;
    list-style: none;
    cursor: pointer;
  }

  details summary::before {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 2.4rem;
    font-size: 3.4rem;
    font-weight: 200;
    line-height: 1;
    transition: transform 0.2s ease, content 0.2s ease;
    color: $primary-color;
  }

  details[open] summary::before {
    content: "–";
  }
}

.footer {
  background: $color-1;
  font-size: $font-xs;
  width: 100%;
  translate: 0 100%;
  transition: 0.4s;

  .footer-container {
      font-size: $font-xs-mob;
    @include isMobile {
      flex-direction: column;
      gap: 4rem;

      a {
        margin: 0;
      }
    }
  }

  a {
    color: $color-2;
    transition: all ease-out 0.3s;
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  .footer-right,
  .footer-left {
    flex: 1;
    color: $color-2;
  }

  .footer-left {
    gap: 1.5rem;
    .quote {
      max-width: 57rem;
      font-style: italic;
    }
  }

  .footer-right {
    @include isMobile {
      flex-direction: column-reverse;
      gap: 4rem;
    }
    ul {
      gap: 1.5rem;
      align-items: flex-start;
    }

    .contact {
      gap: 1.5rem;
      .social {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;

        img {
          height: 2.4rem;
          width: 2.4rem;
          scale: 1;
          transition: scale 0.3s;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }

  &.run {
    translate: 0;
  }
}

.header {
  translate: 0 -100%;
  transition: 0.3s $anim-func;
}
.loaded {
  .header {
    translate: 0;
  }
}

.anim,
#about li,
#services li,
#prices li,
#for-who li {
  opacity: 0;
  translate: 0 3vw;
  transition: 0.3s $anim-func;

  &.run {
    opacity: 1;
    translate: 0;
  }
}

.anim-scale {
  scale: 0;
  transition: 0.3s $anim-func;
  &.run {
    scale: 1;
  }
}
